<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		<title>Person Re-ID Streaming Demonstration</title>
	</head>
	<body>
		<h1 style="text-align:center;font-size:50px">Person Re-ID Streaming Demonstration</h1>
		<div align="center">
			<img src="{{ url_for('video_feed') }}" width="60%" height="60%">
		</div>

		<script language="JavaScript">
			function myRefresh(){
				window.location.reload();
			}
			setTimeout('myRefresh()', 200); // refreshing interval (ms)
		</script>
	</body>
</html>
